The dataset used in this analysis is found in the following link.
https://open-traffic.epfl.ch/index.php/downloads/#1599047632394-7ca81bff-5221

Given the following basic information about the dataset:
* each row represents the data of a single vehicle
* the first 10 columns in the 1st row include the columns’ names
* the first 4 columns include information about the trajectory like the unique trackID, the type of vehicle, the distance traveled in meters and the average speed of the vehicle in km/h
* the last 6 columns are then repeated every 6 columns based on the time frequency. For example, column_5 contains the latitude of the vehicle at time column_10, and column­­­_11 contains the latitude of the vehicle at time column_16.
* Speed is in km/h, Longitudinal and Lateral Acceleration in m/sec2 and time in seconds.

## Read the given dataset

Here I have read only the rows with the respective columns

In [9]:
import pandas as pd

data = pd.read_csv("../data/20181024_d1_0830_0900.csv", sep="[,;:]", index_col=False, engine='python')

## Information about the dataset

In [10]:
data.head()

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,48.85,9.770344,37.977391,23.737688,4.9178,0.0518,-0.0299,0.0
1,2,Motorcycle,98.09,19.839417,37.977642,23.737400,16.9759,-0.0361,-0.0228,0.0
2,3,Motorcycle,63.80,18.228752,37.977997,23.737264,20.1906,-0.0795,-0.3395,0.0
3,4,Motorcycle,145.72,26.229014,37.978135,23.737072,2.7555,-0.0302,0.0948,0.0
4,5,Motorcycle,138.01,24.841425,37.978134,23.737103,0.0000,0.0000,0.0000,0.0

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 922 entries, 0 to 921
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   track_id     922 non-null    int64
 1    type        922 non-null    object
 2    traveled_d  922 non-null    float64
 3    avg_speed   922 non-null    float64
 4    lat         922 non-null    float64
 5    lon         922 non-null    float64
 6    speed       922 non-null    float64
 7    lon_acc     922 non-null    float64
 8    lat_acc     922 non-null    float64
 9    time        922 non-null    float64
dtypes: float64(8), int64(1), object(1)
memory usage: 72.2+ KB

In [12]:
data.columns

Index(['track_id', ' type', ' traveled_d', ' avg_speed', ' lat', ' lon',
       ' speed', ' lon_acc', ' lat_acc', ' time'],
      dtype='object')

In [13]:
data[' type'].value_counts()

 Car               426
 Motorcycle        251
 Taxi              176
 Medium Vehicle     26
 Bus                23
 Heavy Vehicle      20
Name:  type, dtype: int64

## Save the sample dataset

In [ ]:
data.to_csv("sample.csv")