In [3]:
import pandas as pd

data = pd.read_csv("../data/sample.csv", sep="[,;:]", index_col=False, engine='python')

In [19]:
data.head()

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,48.85,9.770344,37.977391,23.737688,4.9178,0.0518,-0.0299,0.0
1,2,Motorcycle,98.09,19.839417,37.977642,23.737400,16.9759,-0.0361,-0.0228,0.0
2,3,Motorcycle,63.80,18.228752,37.977997,23.737264,20.1906,-0.0795,-0.3395,0.0
3,4,Motorcycle,145.72,26.229014,37.978135,23.737072,2.7555,-0.0302,0.0948,0.0
4,5,Motorcycle,138.01,24.841425,37.978134,23.737103,0.0000,0.0000,0.0000,0.0

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 922 entries, 0 to 921
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   track_id     922 non-null    int64
 1    type        922 non-null    object
 2    traveled_d  922 non-null    float64
 3    avg_speed   922 non-null    float64
 4    lat         922 non-null    float64
 5    lon         922 non-null    float64
 6    speed       922 non-null    float64
 7    lon_acc     922 non-null    float64
 8    lat_acc     922 non-null    float64
 9    time        922 non-null    float64
dtypes: float64(8), int64(1), object(1)
memory usage: 72.2+ KB

In [31]:
data.columns

Index(['track_id', ' type', ' traveled_d', ' avg_speed', ' lat', ' lon',
       ' speed', ' lon_acc', ' lat_acc', ' time'],
      dtype='object')

In [32]:
data[' type'].value_counts()

 Car               426
 Motorcycle        251
 Taxi              176
 Medium Vehicle     26
 Bus                23
 Heavy Vehicle      20
Name:  type, dtype: int64

In [4]:
import psycopg2
conn = psycopg2.connect(
    database="pneuma", 
    host="localhost", 
    port="5432", 
    user="biruk", 
    password="5623")

In [ ]:
cur = conn.cursor()

delete_script = "DROP TABLE IF EXISTS traffic;"

create_script = ''' 
    CREATE TABLE IF NOT EXISTS traffic(
        track_id numeric, 
        type varchar (100), 
        traveled_d float,
        avg_speed float, 
        lat float, 
        lon float,
        speed float, 
        lon_acc float, 
        lat_acc float, 
        time float
   );
    '''

cur.execute(delete_script)
cur.execute(create_script)
insert_script = ''' 
    INSERT INTO traffic(
        track_id, 
        type, 
        traveled_d,
        avg_speed, 
        lat, 
        lon,
        speed, 
        lon_acc, 
        lat_acc, 
        time)

    VALUES (
        %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    '''

for record in data.to_dict(orient="records"):
    values = list(record.values())
    # print (values)
    cur.execute(insert_script, values)
    cur.execute("commit")

conn.commit()
conn.close()

In [10]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://biruk:5623@localhost/pneuma')
# print(os.system('pwd'))
# df = pd.read_csv(path,sep="[,;:]",index_col=False)
# print("<<<<<<<<<<start migrating data>>>>>>>>>>>>>>")
data.to_sql("traffic", con=engine, if_exists='replace', index_label='id')
print("<<<<<<<<<<<<<<<<<<<completed>>>>`>>>>>>>>>>>>")

<<<<<<<<<<<<<<<<<<<completed>>>>`>>>>>>>>>>>>